{% load static %}
{% load dict_plus %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<title>首页</title>
</head>
<body>
	<header>
		<div id="logo">
			<a href="{% url 'index' %}">
				<img src="{% static 'image/logo_white.png' %}">
			</a>
		</div>
		<div id="menu">
            <a href="{% url 'index' %}">首页</a>
            <a href="{% url 'theme' page=1 %}">社区</a>
            {% if ret_user.user_type_id == 2 %}
                <a href="{% url 'master' %}">管理</a>
            {% endif %}
            {% if ret_user %}
                <a href="{% url 'person' %}">{{ ret_user.nickname }}({{ ret_user.staff_dept }}-{{ ret_user.true_name }})</a>
                <a href="{% url 'logout' %}">退出</a>
            {% else %}
                <a href="{% url 'login_demo' %}">登录</a>
                <a href="{% url 'register_demo' %}">注册</a>
            {% endif %}
		</div>
	</header>

	<div id="content">
		<div id="content_img">
			<img src={% static 'image/rfwDB3L.png' %}>
		</div>

		<div id="contentList">
			<div class="listMenu">
				<div class="listHeader">
					<h4>最新公告</h4>
				</div>
				<div class="listContent">
                    {% for item in ret_notice %}
                    <div class="listContentDiv">
						<a href="#">{{ item.notice_text }}</a>
						<span>{{ item.create_time|date:"Y-m-d" }}</span>
					</div>
                    {% endfor %}
				</div>
			</div>
			<div class="listMenu" style="float: right;">
				<div class="listHeader">
					<h4>最新热点交流</h4>
				</div>
				<div class="listContent">
					{% for item in ret_theme %}
                    <div class="listContentDiv">
						<a href="{% url 'theme_part' theme_id=item.id page=1 %}">{{ item.title }}</a>
						<span>{{ item.create_date|date:"Y-m-d" }}</span>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
</html>